[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-usbtmc = "*"
pyusb = "*"
python-vxi11 = "*"
numpy = "*"
matplotlib = "*"
h5py = "*"
scipy = "*"
hist = {extras = ["plot"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
